.app {
  #{&}__input {
    @include boxCenter;
    margin-top: 2rem;

    .form-control {
      @include box;
      border-radius: 5px;
      box-shadow: 0px 8px 12px 3px rgba(0, 0, 0, 0.2);

      .button__wrapper {
        align-self: center;
        @include buttonWrapper;
      }

      .button {
        @include button;
      }

      input[type="text"] {
        width: 100%;
        background: $clr-very-dark-desaturated-blue;
        border: none;
        outline: none;
        color: $clr-white;
        border-radius: 5px;
      }
    }
    @include responsive(500px) {
      margin-top: 1rem;
    }
  }
}

.app .app__input .form-controlLight {
  background: $clr-very-light-gray;
  box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.2);
}

.app .app__input .form-controlLight .form-radio .radioCover {
  background: $clr-very-light-gray;
}

.app .app__input .form-controlLight input[type="text"] {
  background: $clr-very-light-gray;
  color: $clr-very-dark-Grayish-blue;
}

.app .app__input .form-controlLight .button {
  background: $clr-very-light-gray;
}
