.app {
  #{&}__list {
    @include boxCenter;
    margin-top: 1rem;
    height: 58vh;
    background: $clr-very-dark-desaturated-blue;
    border-radius: 5px;
    box-shadow: 0px 25px 40px -10px rgba(0, 0, 0, 0.75);
    position: relative;

    @include responsive(1200px) {
      height: 48vh;
    }
    @include responsive(500px) {
      height: 53vh;
    }
    @include responsive(400px) {
      margin-top: 1rem;
      height: 55vh;
    }
  }

  #{&}__emptylist {
    height: 25vh;
    @include centerElement;
  }

  .todo__list {
    height: 80%;
    overflow: auto;
  }

  .todo__msg {
    color: $clr-very-dark-grayish-blue;
  }

  #{&}__menu {
    height: 3.5rem;
    padding: 1rem;
    color: $clr-very-dark-grayish-blue;
    position: sticky;
    top: 100%;
    border-top: 1px solid $clr-very-dark-grayish-blue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $clr-very-dark-desaturated-blue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    @include responsive(1200px) {
      padding: 0rem;
    }
  }

  #{&}__listItems {
    @include responsive(1200px) {
      margin-left: 1rem;
    }
  }

  #{&}__states {
    display: flex;
    gap: 1rem;
    cursor: pointer;

    .activeState {
      color: $clr-bright-blue;
    }
    & > :not(.activeState):hover {
      color: $clr-white;
    }

    @include responsive(1200px) {
      position: absolute;
      top: 140%;
      width: 100%;
      background: $clr-very-dark-desaturated-blue;
      height: 2.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      border-radius: 5px;
      box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, 0.75);
    }
  }

  #{&}__clearCompleted {
    cursor: pointer;
    &:hover {
      color: $clr-white;
    }
    @include responsive(1200px) {
      margin-right: 1rem;
    }
  }
}

.app .app__light {
  background: $clr-very-light-gray;
  box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.45);
}

.app .app__light .app__menu {
  background: $clr-very-light-gray;
  color: $clr-dark-grayish-blue;
  border-top: 1px solid $clr-dark-grayish-blue;
}

.app .app__light .app__states :not(.activeState):hover {
  color: $clr-very-dark-desaturated-blue;
  font-weight: 700;
}
.app .app__light .app__clearCompleted:hover {
  color: $clr-very-dark-desaturated-blue;
  font-weight: 700;
}

.app .app__light .app__states {
  background: $clr-very-light-gray;

  @include responsive(1200px) {
    box-shadow: 0px 1px 20px -2px rgba(0, 0, 0, 0.15);
  }
}
