.app__todo {
  @include box;
  padding-right: 1.5rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid $clr-very-dark-grayish-blue;
  align-items: center;
  width: 100%;
  z-index: 0;

  .app__button {
    .button__wrapper {
      @include buttonWrapper;
    }

    .faCheck {
      padding: 4px;
      border-radius: 50%;
    }

    .button {
      @include button;
    }
  }

  .todo {
    color: $clr-white;

    &:hover {
      cursor: pointer;
    }
  }

  .remove {
    color: $clr-very-dark-grayish-blue;
    margin-left: auto;
    visibility: hidden;

    @include responsive(500px) {
      visibility: visible;
    }
  }
}

.app__todo .app__button .buttonClick {
  background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.app__todo .todoCompleted {
  text-decoration: line-through;
  color: $clr-very-dark-grayish-blue;
}

.app__todo:hover .app__button .button__wrapper {
  cursor: pointer;
  background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.app__todo:hover .remove {
  visibility: visible;
  cursor: pointer;
}

.todo__light {
  background: $clr-very-light-gray;
  border-bottom: 1px solid $clr-dark-grayish-blue;
}

.todo__light .todo {
  color: $clr-very-dark-grayish-blue;
}

.todo__light .app__button .button {
  background: $clr-very-light-gray;
}

.todo__light .todoCompleted {
  color: $clr-dark-grayish-blue;
}
