.app__todo {
  @include box;
  border-radius: none;
  border-bottom: 1px solid $clr-dark-grayish-blue;
  align-items: center;

  .radio {
    position: relative;

    input[type="radio"] {
      height: 25px;
      width: 25px;
      background-color: $clr-very-dark-desaturated-blue;
      display: block;
      position: relative;
    }
    .radioCover {
      @include absolutePositioning;
      background: $clr-very-dark-desaturated-blue;
      border: 1px solid $clr-dark-grayish-blue;
      border-radius: 50%;
    }
    .faCheck {
      @include absolutePositioning;
      padding: 6px;
      color: $clr-white;
      z-index: 10;
    }
  }

  .todo {
    color: $clr-white;
  }
}

.app .app__todo .radio .radioClick {
  background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.app__todo .todoCompleted {
  text-decoration: line-through;
  color: $clr-dark-grayish-blue;
}
