@import "./config";
@import "./input";
@import "./list";
@import "./todo";
@import "./alert";

.app {
  height: 100vh;
  width: 100vw;
  background: $clr-very-dark-blue;
  padding-top: 7vh;
  transition: background 0.5s ease;

  #{&}__header {
    display: flex;
    justify-content: space-between;
    @include boxCenter;
    color: $clr-white;

    .app__title {
      letter-spacing: 1rem;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: $fontweight-bold;

      @include responsive(500px) {
        font-size: 2rem;
      }
    }

    .app__darkTheme {
      cursor: pointer;
      transition: transform ease 500ms;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  #{&}__drag {
    color: $clr-very-dark-grayish-blue;
    margin-top: 2rem;
    text-align: center;

    @include responsive(1200px) {
      margin-top: 6rem;
    }
  }
  @include responsive(500px) {
    padding-top: 7vh;
  }
}

.darkTheme {
  background: url(../images/bg-desktop-dark.jpg) $clr-very-dark-blue;
  @include background;

  @include responsive(600px) {
    background: url(../images/bg-mobile-dark.jpg) $clr-very-dark-blue;
    @include background;
  }
}
.lightTheme {
  background: url(../images/bg-desktop-light.jpg) $clr-very-light-gray;
  @include background;

  @include responsive(600px) {
    background: url(../images/bg-mobile-light.jpg) $clr-very-light-gray;
    @include background;
  }
}

.lightTheme .app__drag {
  color: $clr-dark-grayish-blue;
}
