@import "./config";
@import "./input";
@import "./list";
@import "./todo";

.app {
  height: 100vh;
  width: 100vw;
  background: $clr-very-dark-blue;
  padding-top: 10vh;

  #{&}__header {
    display: flex;
    justify-content: space-between;
    @include boxCenter;
    color: $clr-white;

    .app__title {
      letter-spacing: 1rem;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: $fontweight-bold;
    }

    .app__darkTheme {
      cursor: pointer;
      transition: transform ease 500ms;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  #{&}__drag {
    color: $clr-very-dark-grayish-blue;
    margin-top: 2rem;
    text-align: center;
  }
}

.darkTheme {
  background: url(../images/bg-desktop-dark.jpg) $clr-very-dark-blue;
  @include background;
}
.lightTheme {
  background: url(../images/bg-desktop-light.jpg) $clr-very-light-gray;
  @include background;
}
