@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$clr-red: hsl(0, 78%, 62%);
$clr-green: hsl(180, 62%, 55%);
$clr-yellow: hsl(34, 97%, 64%);
$clr-blue: hsl(212, 86%, 64%);

$clr-dark-blue: hsl(234, 12%, 34%);
$clr-grayish-blue: hsl(229, 6%, 66%);
$clr-light-gray: hsl(0, 0%, 98%);

$mobile: 375px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $clr-dark-blue;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 15px;
}

$font-weights: (
  thin: 200,
  regular: 400,
  bold: 600,
);

@function fontWeight($weight) {
  @return map-get($font-weights, $weight);
}

$font-sizes: (
  regular: 10px,
  medium: 15px,
  large: 20px,
  extraLarge: 50px,
);

@function fontSize($size) {
  @return map-get($font-sizes, $size);
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

.content {
  font-size: fontSize(medium);
  margin: 1rem auto;
  color: $clr-grayish-blue;
}
