// Dark mode colors
$dark-blue: hsl(209, 23%, 22%); // Dark Mode Elements
$very-dark-blue: hsl(207, 26%, 17%); // Dark Mode Background
$white: hsl(0, 0%, 100%); //Dark Mode Text & Light Mode Elements

// Light mode colors
$very-dark-blue: hsl(200, 15%, 8%); // Light Mode Text
$dark-gray: hsl(0, 0%, 52%); // Light Mode Input
$very-light-gray: hsl(0, 0%, 98%); // Light Mode Background

// font-family
$font-family: "Nunito Sans", sans-serif;

$boxShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$border: 1px solid hsl(0, 0%, 87%);

// font-size
$font-size: (
  "smaller": 15px,
  "small": 20px,
  "regular": 25px,
  "large": 30px,
);

// font-weight
$font-weight: (
  "regular": 300,
  "medium": 600,
  "bold": 800,
);

// screen-width
$screen-width: (
  "small": 640px,
  "medium": 1007px,
  "large": 1440px,
);

// flex
@mixin flex($flexDirection: row, $justifyContent: center) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: center;
  justify-content: $justifyContent;
}

// responsive design
@mixin mobile {
  @media screen and (max-width: map-get($screen-width,small)) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: map-get($screen-width,medium)) {
    @content;
  }
}

@mixin displayFlex($direction: column) {
  display: flex;
  flex-direction: $direction;
}
