@import "_base.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
