@import "./config";

body {
  height: 100vh;
  background: linear-gradient(to bottom, #af67e9, #6565e7);

  @media screen and (max-width: 1024px) {
    height: auto;
  }
}

.container {
  margin: 8rem auto;
  box-shadow: -1px 14px 44px 0px rgba(0, 0, 0, 0.42);
  background: $clr-white;
  display: flex;
  height: auto;
  width: 65vw;
  position: relative;
  border-radius: 30px;

  .svg__container {
    width: 50%;
    overflow: hidden;
    background: url(./img/desktop.svg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 70% 65%;

    .mobileSvg {
      display: none;

      @media screen and (max-width: 1024px) {
        display: block;
        height: 150%;
        transform: translateY(-40%);
      }

      @media screen and (max-width: 480px) {
        height: 130%;
      }
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      height: 200px;
      overflow: visible;
      width: 100%;
      display: flex;
      justify-content: center;
      background: none;
    }

    @media screen and (max-width: 480px) {
      height: 150px;
    }
  }

  .svg__box {
    position: absolute;
    top: 35%;
    left: -8%;
    animation: animateBox 2.5s ease-in-out infinite;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .faq {
    width: 60%;
    display: flex;
    align-items: center;
    padding-bottom: 3rem;

    @media screen and (max-width: 1024px) {
      width: 100%;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    height: auto;
    width: 80vw;
    margin: 11rem auto;
  }
  @media screen and (max-width: 480px) {
    margin: 8rem auto;
  }
}

.faq__container {
  height: 80%;
  width: 80%;
  padding: 3rem;

  .faq__title {
    font-size: 2rem;
    font-weight: $font-weight-bold;

    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }

  .faq__list {
    margin-top: 2rem;
  }
  @media screen and (max-width: 480px) {
    padding: 0rem;
  }
}

.qna {
  padding-bottom: 1rem;

  #{&}__question {
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .question {
      color: $clr-text-GrayishBlue;

      @media screen and (max-width: 480px) {
        font-size: 1rem;
      }
    }

    .boldColor {
      color: $clr-text-veryDarkBlue;
    }

    .btn__arrow:hover {
      transform: scale(1.2);
    }

    .arrow {
      cursor: pointer;
    }

    .arrow-down {
      transform: rotate(180deg);
    }
  }

  #{&}__answer {
    color: $clr-text-GrayishBlue;
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  #{&}__divider {
    height: 1px;
    width: 100%;
    background: $clr-divider-lightGrayishBlue;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

@keyframes animateBox {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
