@import "./config";

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 8rem;

  & > * {
    margin-top: 2rem;
  }

  #{&}__title {
    @include headingFont;
  }

  #{&}__desc {
    width: 30%;
    text-align: center;
    @include text;

    @include responsive(1024px) {
      width: 50%;
    }
    @include responsive(480px) {
      width: 70%;
    }
    @include responsive(480px) {
      width: 80%;
    }
  }

  #{&}__tabs {
    display: flex;

    @include responsive(768px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 85%;
    }
  }

  #{&}__tab {
    padding: 1rem 2rem;
    color: $clr-grayish-blue;
    border-bottom: 1px solid lighten($clr-grayish-blue, 15%);

    &.activeTab {
      color: $clr-dark-blue;
      border-bottom: 5px solid $clr-red;

      @include responsive(768px) {
      }
    }
    @include responsive(768px) {
      border-top: 1px solid lighten($clr-grayish-blue, 15%);
    }
  }

  &::after {
    content: "";
    height: 20rem;
    width: 60rem;
    background: $clr-blue;
    z-index: -2;
    position: absolute;
    left: -18%;
    bottom: 1%;
    border-radius: 100rem;

    @include responsive(900px) {
      height: 15rem;
      width: 40rem;
      bottom: 3%;
    }
    @include responsive(700px) {
      height: 10rem;
      width: 30rem;
    }
    @include responsive(550px) {
      bottom: 5%;
    }
    @include responsive(480px) {
      height: 7rem;
      width: 20rem;
      bottom: 15%;
    }
    // @include responsive(480px) {
    //   height: 7rem;
    //   width: 20rem;
    //   bottom: 10%;
    // }
  }
}

.featureTab {
  display: flex;
  width: 70%;
  justify-content: center;

  #{&}__img {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    img {
      @include responsive(768px) {
        height: 90%;
        width: 90%;
        z-index: -1;
      }
    }

    @include responsive(1300px) {
      width: 100%;
      justify-content: center;
    }
  }

  #{&}__details {
    width: 50%;
    padding-top: 3rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    z-index: -1;

    @include responsive(1300px) {
      width: 100%;
      padding-top: 6rem;
      padding-left: 0rem;
      align-items: center;
    }
    @include responsive(900px) {
      padding-top: 4rem;
    }
  }

  #{&}__title {
    @include headingFont;
    @include responsive(600px) {
      font-size: 1.5rem;
    }
    @include responsive(480px) {
      text-align: center;
    }
  }

  #{&}__desc {
    @include text;
    width: 70%;
    @include responsive(480px) {
      width: 85%;
    }
  }

  #{&}__btn {
    @include btn($clr-blue);
  }

  @include responsive(1300px) {
    flex-direction: column;
  }
}
