.nav {
  position: sticky;
  top: 0;
  background: $clr-white;
  display: flex;
  align-items: center;
  padding: 1.5rem 5rem;
  justify-content: space-between;
  z-index: 10;

  #{&}__links {
    @include navLinks;
    display: flex;
    gap: 5rem;
    align-items: center;
    list-style-type: none;

    .link a {
      color: $clr-dark-blue;
      text-decoration: none;

      .btnLogin {
        @include btn($clr-red);
        @include navLinks;
      }

      &:hover {
        color: $clr-red;
      }
    }

    .link:hover .btnLogin {
      box-shadow: 0px 17px 17px -9px rgba(0, 0, 0, 0.3);
    }
    @include responsive(1300px) {
      gap: 4rem;
    }
    @include responsive(1100px) {
      gap: 3rem;
    }
    @include responsive(1000px) {
      gap: 2rem;
    }
  }

  .links {
    @include responsive(800px) {
      display: none;
    }
  }

  #{&}__icon {
    display: none;

    @include responsive(800px) {
      display: block;
      cursor: pointer;
    }
  }

  #{&}__overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;

    @include responsive(800px) {
      display: block;
    }
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(7, 13, 53, 0.9);
  color: $clr-white;

  #{&}__menu {
    width: 80%;
    height: 90%;
    margin: auto;
    padding-top: 5rem;
    position: relative;
  }

  #{&}__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .closeIcon {
      cursor: pointer;
    }
  }

  #{&}__links {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;

    .link {
      padding: 1.5rem;
      width: 80%;
      border-top: 1px solid $clr-grayish-blue;
      text-align: center;
      transition: all 0.5s ease;

      a {
        color: $clr-white;
        text-decoration: none;
        cursor: pointer;
      }
    }

    & > *:not(:nth-of-type(4)):hover {
      background: rgba(7, 13, 53, 0.5);
    }

    .overlay-btn {
      border: 2px solid $clr-white;
      border-radius: 5px;
      padding: 0.5rem 25%;
      transition: all 0.5s ease;

      &:hover {
        background: rgba(7, 13, 53, 0.5);
      }
    }
  }

  #{&}__social {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    & > * {
      cursor: pointer;
    }
  }

  @include responsive(375px) {
    width: 300px;
  }
}
