.nav {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  justify-content: space-between;

  #{&}__links {
    @include navLinks;
    display: flex;
    gap: 5rem;
    align-items: center;
    list-style-type: none;

    .link a {
      color: $clr-dark-blue;
      text-decoration: none;

      .btnLogin {
        @include btn($clr-red);
        @include navLinks;
      }

      &:hover {
        color: $clr-red;
      }
    }

    .link:hover .btnLogin {
      box-shadow: 0px 17px 17px -9px rgba(0, 0, 0, 0.3);
    }
    @include responsive(1300px) {
      gap: 4rem;
    }
    @include responsive(1100px) {
      gap: 3rem;
    }
    @include responsive(1000px) {
      gap: 2rem;
    }
  }

  .links {
    @include responsive(800px) {
      display: none;
    }
  }

  #{&}__icon {
    display: none;

    @include responsive(800px) {
      display: block;
      cursor: pointer;
    }
  }

  #{&}__overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;

    @include responsive(800px) {
      display: block;
    }
  }

  @include responsive(1300px) {
    width: 80%;
  }
  @include responsive(1100px) {
    width: 90%;
  }
  @include responsive(375px) {
    width: 336px;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(16, 24, 77, 0.9);
  color: $clr-white;

  #{&}__menu {
    width: 80%;
    height: 90%;
    margin: auto;
    padding: 5rem 0;
    border: 1px solid white;

    #{&}__logo {
      border: 1px solid white;
      display: flex;
      justify-content: space-between;
      .logo {
      }
      .closeIcon {
      }
    }

    #{&}__links {
    }

    #{&}__social {
    }

    @include responsive(375px) {
      width: 300px;
    }
  }
}
