@import "./config";

@mixin jobDetailsBtn($clr) {
  font-size: 0.65rem;
  color: $clr-white;
  background: $clr;
  font-weight: $fontweight-bold;
  padding: 0.5rem;
  border-radius: 15px;

  @include responsive(480px) {
    font-size: 0.6rem;
  }
}

@mixin tagBtn {
  font-size: 0.8rem;
  font-weight: $fontweight-bold;
  color: $clr-desaturated-dark-cyan;
  background: $clr-light-grayish-cyan;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}

@mixin bgCyan {
  color: $clr-white;
  background: $clr-desaturated-dark-cyan;
}
